Dear {{ task.member.user.first_name }},

You were marked as unexcused from your member workshift on {{ task.time|date:"F jS, Y @ P" }} If you have not already done so, please schedule a makeup shift as soon as possible. You can do this yourself in MESS (https://mess.mariposa.coop) through the scheduling tab. If you would like assistance with scheduling a make up shift, please contact the Member Coordination Dept. at at 215.729.2121 ext 3 or send an email to membership@mariposa.coop. 

For your information, when working members owe 9 or more hours, it is Mariposa's policy to remove them from the workshift in an effort to stop the accrual of owed hours. Additionally, they are switched to non-working members and receive a 5% shopping discount. However, once those hours are made up, members can sign back up for a workshift by sending an email to membership@mariposa.coop, calling or stopping by the store. (Please also be aware that if at any time you decide to depart from Mariposa Food Co-op and you still owe workshift hours, $20 will be deducted from your equity return for each hour you owe.) 

Please let us know if there are circumstances impacting your ability to come to your workshifts. We appreciate your efforts so please tell us how we can work with you to support your wish to be a working member at Mariposa!

Thank You, 

The Membership Coordination Team
Mariposa Food Co-op
membership@mariposa.coop
215-729-2121 ext. 3
4824 Baltimore Avenue
Philadelphia, PA 19143
