Dear {{ task.member.user.first_name }},

This automated email is being sent to you because we recently updated your work shift attendance in MESS based on records provided by Mill Creek Farm. Mariposa did not receive adequate notice about your inability to complete you monthly shift requirement. Therefore, you were marked unexcused from some or all of your shift requirement for last month.  

Please schedule a makeup shift either with Mill Creek Farm or Mariposa as soon as possible.  If you believe this email is being sent in error or would like to know where you stand with your hours, please contact membership@mariposa.coop. 

Please let us know if there are circumstances impacting your ability to complete your workshifts. We appreciate your efforts so please tell us how we can work with you to support your wish to be a working member at Mariposa!

Thank You, 

Membership Coordination Team
Mariposa Food Co-op 
Phone: (215) 729-2121 ext. 3
Email: membership@mariposa.coop
