Dear {{ member }},

Please note that account "{{ account }}," of which you are an active member, has a balance at Mariposa Food Co-op (an amount owed by you to Mariposa) of ${{ balance }}. This exceeds your account's permitted balance limit of {{ balance_limit }}. 

Please pay your balance down as soon as possible. Mariposa accepts payment by credit card, cash, check, EBT, and PayPal and we are open M-F 8-9 and Sat-Sun 9-9. 

Thank you,

Mariposa Food Co-op 
Finance Department
Email: finance@mariposa.coop
Phone: 215-729-2121 ext. 5
