To {{ member }}:

Today your shopping account "{{ account }}" at Mariposa Food Co-op was billed ${{ overdue_equity_charged }} in member equity. You are currently on a member equity payment plan of ${{ member.equity_increment }} per quarter until you have paid in a full share of $200.

Member equity is your share of ownership in Mariposa Food Co-op and is fully refundable to members departing in good standing.

If you would like to be on a different payment plan for your member equity, or if you have questions about your account, please be in touch with Mariposa's financial manager at finance@mariposa.coop.

Thank you,

Mariposa Food Co-op
4824 Baltimore Avenue
Philadelphia, PA 19143
215-729-2121
