{% extends "membership/base.html" %}

{% load markup %}

{% block head %}
  <script type="text/javascript" src="{{ MEDIA_URL }}yui/yahoo/yahoo-min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}yui/event/event-min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}yui/connection/connection-min.js"></script> 
  <script type="text/javascript" src="{{ MEDIA_URL }}yui/yahoo-dom-event/yahoo-dom-event.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/membership.js"></script>
{% endblock %}

{% block content %}
  <div id="double-column">
    {% include "membership/snippets/page_menu.html" %}
    <div id="primary-content-wrapper">
      <h2>
        Workshift Interests and Skills: {{ member.user.get_full_name }} 
      </h2>
      <form class="standard" method="post">
        {% csrf_token %}
        {% if is_errors %}
          <div class="error-message">
            <h3>You have problems.</h3>
            <p>Please see specific errors in the form below.</p>
          </div>
        {% endif %}
        <div class="section member-interest inline">
          <h3>Workshift Interests (<a href="{% url job-descriptions %}" target="_blank">Descriptions</a>)</h3>
          {{ member_interest_form.job_interests.errors }}
          {{ member_interest_form.job_interests|textile }}
        </div>
        <div class="section member-interest inline">
          <h3>Skills and Resources</h3>
          {{ member_interest_form.skills.errors }}
          {{ member_interest_form.skills }}
        </div>
        <div class="section member-interest">
          <h3>Workshift Availability</h3>
          {% include "membership/snippets/workshift_availability.html" %}
        </div>
        <div class="section">
          <h3>Extra Information</h3>
          <p><strong>Please list (in 255 characters or less) any scheduling constraints or preferences you have that we need to consider in setting you up with a work shift:</strong></p>
          {{ member_interest_form.extra_info.errors }}
          {{ member_interest_form.extra_info }}
        </div>
        <div class="save">
          <input type="submit" class="button" value="Save" /> 
          <input type="submit" class="button" name="cancel" value="Cancel" />
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block pop_up %}
<div id='message' onclick='hide_message ()' ></div>
<div id=list ></div>
<div id=listShadow ></div>
{% endblock %}
