{% extends "base.html" %}

{% block content %}
<div id="double-column">
  <div id="primary-content-wrapper">
    {{ form.errors }}
    <h2>Post to Forum: <a href="{{ forum.get_absolute_url }}">{{ forum }}</a></h2>
    <h2>Posting as: {{ request.user.first_name }} ({{ request.user.get_profile.get_primary_account }})</h2>
    {% if subject %}
      <h2>Subject: <a href="{{ forum.get_absolute_url }}?subject={{ subject|urlencode }}">{{ subject }}</a></h2>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <table class="data">
        {{ form.forum }}
        <tr><th><label for='id_subject'>{{ form.subject.label}}:</label></th><td>{{ form.subject }}</td></tr>
        <tr><th><label for='id_body'>{{ form.body.label }}:</label></th><td>{{ form.body }}</td></tr>
        {% if request.user.is_staff %}
        <tr><th><label for='id_attachment'>{{ form.attachment.label }} (PDFs only):</label></th><td>{{ form.attachment }}</td></tr>
        {% endif %}
      </table>
      Your post will be viewable on the MESS forum.
      <input type="submit" name="action" value="Preview">
      <input type="submit" name="action" value="Post">
    </form>
    {% ifequal form.data.action "Preview" %}
      <h2>Preview</h2>
      <table class="data">
        <tr><th colspan="2">{{ form.data.subject }}</th></tr>
        <tr><td>
            <b>{{ request.user.first_name }} 
            ({{ request.user.get_profile.get_primary_account }})<br>
            {% now "n/j/y g:iA" %}</b>
          </td><td>
            {{ form.data.body|linebreaksbr }}
        </td></tr>
      </table>
    {% endifequal %}
  </div>
</div>
{% endblock %}
