<table>
  <thead>
    <tr>
      <th>Sunday</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        {{member_interest_form.availability_sunday.errors}}
        {{member_interest_form.availability_sunday}}
      </td>
      <td>
        {{member_interest_form.availability_monday.errors}}
        {{member_interest_form.availability_monday}}
      </td>
      <td>
        {{member_interest_form.availability_tuesday.errors}}
        {{member_interest_form.availability_tuesday}}
      </td>
      <td>
        {{member_interest_form.availability_wednesday.errors}}
        {{member_interest_form.availability_wednesday}}
      </td>
      <td>
        {{member_interest_form.availability_thursday.errors}}
        {{member_interest_form.availability_thursday}}
      </td>
      <td>
        {{member_interest_form.availability_friday.errors}}
        {{member_interest_form.availability_friday}}
      </td>
      <td>
        {{member_interest_form.availability_saturday.errors}}
        {{member_interest_form.availability_saturday}}
      </td>
    </tr>
  </tbody>
</table>

