{% extends 'base.html' %}
{% load core_tags %}

{% block content %}
<div id="double-column" >
  <div id="primary-content-wrapper" >
    <h2>Equity By Member</h2>
    <div>
      <form method="get">
        {{ form }}
        <input type="submit" value="Submit">
      </form>

      {% if report %}
      <table class="data" >
          <tr>
              <th>Member</th>
              <th>Member-Owner Equity</th>
              <th>Membership Fund Equity</th>
              <th>Total Equity</th>
          </tr>
          {% for member, member_equity, fund_equity, equity_held in report %}
          <tr class="{% cycle 'odd' 'even' %}" >
            <td><a href="{% url member member.user %}">{{ member }}</a></td>
            <td>{{ member_equity }}</td>
            <td>{{ fund_equity }}</td>
            <td>{{ equity_held }}</td>
          </tr>
          {% endfor %}
          <tr class="{% cycle 'odd' 'even' %}" >
            <th>Totals</th>
            <th>{{ member_owner_equity_sum }}</th>
            <th>{{ member_fund_equity_sum }}</th>
            <th>{{ equity_sum }}</th>
          </tr>
      </table>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

