{% extends 'base.html' %}

{% block content %}
<div id="double-column" >
  <div id="primary-content-wrapper" >
    <h2>{{ object_type|capfirst }} Logs</h2>
    <table>
      <form class="sorter noprint" method="GET">
        {{ form }}
        <tr><td></td><td><input type="submit" value="Filter"></td></tr>
      </form>
    </table>

    <div id="logs">
      <table class="data" >
          <tr>
            <th>{{ object_type|capfirst }}</th>
              <th>Staff</th>
              <th>Time</th>
              <th>Change</th>
          </tr>
          {% if logs %}
          {% for log in logs|dictsortreversed:"id" %}
          <tr class="{% cycle 'odd' 'even' %}" >
              <td>{{ log.object_name }}</td>
              <td>{{ log.user_name }}</td>
              <td>{{ log.action_time|date:"d M Y g:iA" }}</td>    
              <td>{{ log.change_message|linebreaks }}</td>
          </tr>
          {% endfor %}
          {% endif %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
