{% extends 'base.html' %}
{% load core_tags %}

{% block content %}
<div id="double-column" >
  <div id="primary-content-wrapper" >
    <h2>Staff Account Balances</h2>
    <div>
      <table class="data" >
          <tr>
              <th>Account</th>
              <th>Staff Member</th>
              <th>Email</th>
              <th>Account Balance</th>
              <th>Amount Over Limit</th>
          </tr>
          {% for member, account in staff_accounts %}
          <tr class="{% cycle 'odd' 'even' %}" >
            <td><a href="{% url account account.id %}">{{ account }}</a></td>
            <td><a href="{% url member member.user.username %}">{{ member }}</a></td>
            <td><a href="mailto:{{ member.user.email }}">{{ member.user.email }}</a></td>
            <td>{{ account.balance }}</td>
            {% if account.balance < account.balance_limit %}
            <td>0</td>
            {% else %}
            <td>{{ account.balance|subtract:account.balance_limit }}</td>
            {% endif %}
          </tr>
          {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
