{% extends 'base.html' %}
{% load messmoney %}

{% block head %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/pick_storeday.js"></script>
{% endblock %}

{% block content %}
<div id="double-column" >
  <div id="primary-content-wrapper" >
    <h2>Transaction Totals</h2>
    <table class="data"><tr>
      <th style="width:25%;">Sales</th>
      <th style="width:25%;">Payments</th>
      <th style="width:25%; text-align:center;">Filters</th>

    </tr><tr><td>
      <table style="width:80%;">
        <tr class="even">
          <td>Start Balance:</td><td class="numeric">{{ starting_total|messmoney }}</td>
        </tr>
        {% for x in purchases_by_type %}
          <tr class="{% cycle 'odd' 'even' %}">
            <td>{{ x.type }}</td>
            <td class="numeric">{{ x.total }}</td>
          </tr>
        {% endfor %}
        <tr class="even">
          <td>Start+Sales:</td><td class="numeric">{{ start_plus_purchases|messmoney }}</td>
        </tr>
      </table>

      {% if transactions|length %}
      <table style="width:80%;">
        <tr class="even">
          <th>Sales by Account Type</th>
          <th></th>
        </tr>
        {% for x in sales_details %}
          <tr class="{% cycle 'odd' 'even' %}">
            <td>{{ x.type }}</td>
            <td class="numeric">{{ x.total }}</td>
          </tr>
        {% endfor %}
      </table>

      <table style="width:80%;">
        <tr class="even">
          <th># of Transactions by Account Type</th>
          f
          <th></th>
        </tr>
        {% for x in unique_transactions_by_account_type %}
          <tr class="{% cycle 'odd' 'even' %}">
            <td>{{ x.type }}</td>
            <td class="numeric">{{ x.total }}</td>
          </tr>
        {% endfor %}
      </table>

      <table style="width:80%;">
        <tr class="even">
          <th>Miscellaneous</th>
          <th></th>
        </tr>
        <tr class="odd">
          <td>Unique Member Visits</td>
          <td class="numeric">{{ unique_member_visits }}</td>
        </tr>
      </table>

    {% endif %}

    </td><td>
      <table style="width:80%;">      
        {% for x in payments_by_type %}
          <tr class="{% cycle 'odd' 'even' %}">
            <td>{{ x.type }}</td>
            <td class="numeric">{{ x.total }}</td>
          </tr>
        {% endfor %}
        <tr class="even">
          <td>End Balance:</td><td class="numeric">{{ ending_total|messmoney }}</td>
        </tr>
        <tr class="odd">
          <td>End+Payments:</td><td class="numeric">{{ end_plus_payments|messmoney }}</td>
        </tr>
      </table>
    </td><td>
      <table>
        <form class="sorter noprint" method="GET" style="float:right;">
          {% comment %}
          <tr>
            <th>Store Day:<br><a href="{% url storeday %}">manage</a></th>
            <td>
              <select id="select_storeday" onchange="pick_storeday(this);">
                <option value=""></option>
                {% for storeday in storedays %}
                  <option value="{{ storeday.start|date:"Y-m-d H:i:s" }}~{% if storeday.get_end %}{{ storeday.get_end|date:"Y-m-d H:i:s" }}{% else %}2099-12-31 23:59:59{% endif %}">{{ storeday.start|date:"n/j/y h:i A" }}</option>
                {% endfor %}
              </select><br>
            </td>
          </tr>
          {% endcomment %}
          {{ form }}
          <tr><td></td><td><input type="submit" value="Filter"></td></tr>
        </form>
        {% comment %}
        <tr>
          <td></td>
          <td>
            <form action="{% url storeday %}" method="POST" 
              onsubmit="return confirm('Are you sure you want to begin a new Store Day now?');">
              {% csrf_token %}
              <input type="submit" name="begin_new_storeday_now" value="Begin new Store Day now">
            </form>
          </td>
        </tr>
        {% endcomment %}
      </table>
      <br>
    </td>
    
    </tr></table>
    {% if list_transactions %}
    {% if transactions_limit %}
    <h3 class="error-message">Too many transactions have been returned. Only displaying {{ transactions_limit }} transactions. Please refine your query if the transaction you are looking for is not listed.</h3>
    {% endif %}
      <div id="transactions">
        {% include "accounting/snippets/transactions.html" %}
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
