{% extends 'base.html' %}
{% load messhours %}

{% block content %}
<div id="left-column">
  {% include "scheduling/snippets/page_menu.html" %}
  <div id="primary-content-wrapper">
    <h2>My Schedule</h2>
    <h3 class="accountname">Next Six Months</h3>
    <ul>
      {% for shift in account_shifts %}
        <li>{{ shift.html_display }} {% if not shift.excused and not shift.makeup %}<a href="{{ shift.get_switch_url }}">switch</a>{% endif %}</li>
      {% endfor %}
    </ul>

    {% if my_shift %}
      <h3 class="accountname">Regular Shift</h3>
      <ul><li>{{ my_shift.html_display }}</li></ul>

      <h3 class="accountname">Members You Might Trade Shifts With</h3>
      <ul class="quick-info">
        {% for shift in similar_assigned %}
          <li>{{ shift.html_display }}
            {% comment %}
            {% with shift.member.phones|first as phone %}
              {{ phone.number }}
            {% endwith %}
            {% endcomment %}
            {% for phone in shift.member.phones.all %}
              , {{ phone.number }}
            {% endfor %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <h3 class="accountname">No Regular Shift Scheduled For {{ request.user.first_name }}</h3>
    {% endif %}
  </div>
</div>

<div id="right-column">
  
  <h2><a href="{{ account.get_absolute_url }}">{{ account }}</a></h2>
  {% include "accounting/snippets/acct_flags.html" %}
  <ul class="quick-info">
    <li>
      {% if member.unexcused_hours_owed %}<b>Unexcused hours owed</b>: {{ member.hours_balance|messhours:"unexcused" }}{% endif %}
    </li>

    <li><b>{% if member.excused_hours_owed %}Excused hours owed{% else %}Hours banked{% endif %}:</b> 
      {{ member.hours_balance|messhours }} 
      {% if request.user.is_staff %}<a href="{{ member.get_hours_balance_history_url }}">history</a>{% endif %}
    </li>
  </ul>

  {% if unassigned %}
  <h2>Help Wanted For These Shifts</h2>
  <p>If you owe hours or want to bank hours for the future sign up below. Please note: signing up here will not excuse you from an upcoming shift. If you need to be excused from a shift, try to trade with someone on the list, or use the switch shift button under the right column.</p>
  <ul>
  {% for shift in unassigned %}
    <li>
      {{ shift.html_display }}
      {% if shift.after_printing_horizon and is_workingmember %}
      <br />
      <form method="post" onsubmit="return confirm('Can you commit to working this shift? {{ shift }}');">
        {% csrf_token %}
        <input type="hidden" name="task" value="{{ shift.id }}">
        <input type="submit" name="action" value="Sign me up!">
      </form>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
  {% endif %}
</div>
{% endblock %}
