{% extends "base.html" %}

{% block title %}Welcome to The MESS{% endblock %}
{% block logo %}The MESS{% endblock %}

{% block content %}
  <div id="double-column">
    <div id="primary-content-wrapper">
      <h2>MESS is Currently Under Maintance!</h2>
      <div class="attention">
        <p>MESS will be under maintenance from October 11th, 11pm to October 12th 7am. Thanks for your patience!</p> 
      </div>
      <div class="attention">
        <h3>Visitors and neighbors, for more info...</h3>
        <p>Visit <a href="http://www.mariposa.coop/">Mariposa's main site!</a></p>
      </div>
    </div>
  </div>
{% endblock %}
